.home-page {
    display: flex;
    min-height: 100dvh;
  }
  
  
  .right-side {
    flex-grow: 1;
    background-color: #95bdd6;
    padding: 10px 60px 0;
    overflow: hidden;
  }
  
  .movie-img{
    height: 220px;
    width: 200px;
    border-radius: 5px;
  }
  .movie-list {
    display: flex;
    padding-bottom: 4px;
  }
  .movie-list div {
    position: relative;
    height: 200px;
    width: 190px;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
  }
  .smooth-scroll {
    scroll-behavior: smooth;
  }
  